<form class="{{cssClass}} sgrpg charsheet" autocomplete="off">

<div class="sheet-header">
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="character">Character</a>
    <a class="item" data-tab="background">Background</a>
    <a class="item" data-tab="credits">Credits</a>
    <!-- <a class="item" data-tab="settings">Settings</a> NOT IMPLEMENTED YET-->
  </nav>
  
{{!--  COMMENT OUT BULK PROGRESS
  
	{{> "systems/sgrpg/templates/sheets/parts/actor-bulk-progress.hbs"}}
--}}

</div>


<div class="sg-sheet-body">
<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------- PAGE 1 ---------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
<main class="character tab-content tab1 page1 tab" data-tab="character">

<!-- NAME SECTION -->
  <section class="name columnflex nowrap">

    <div class="rowflex nowrap spaced">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
      <div class="columnflex nowrap">
        <label style="width:100px;">Character name:</label>
        <input name="name" type="text" value="{{actor.name}}">
      </div>
      <div class="columnflex nowrap">
        <label style="width:80px;">Player name</label>
        <input name="data.playername" type="text" value="{{data.playername}}">
      </div>
      <div class="columnflex nowrap">
        <label>Campaign</label>
        <input name="data.campaign" type="text" value="{{data.campaign}}">
      </div>
      <div class="columnflex nowrap">
        <label>Sheet version: 1.0</label>
      </div>
      <a class="config-button" title="Configure feat details" data-action="flags"><i class="fa fa-cog"></i></a>
    </div>

    <div class="rowflex nowrap spaced">

      <div class="columnflex nowrap">
        <label>Race</label>
        <input name="data.race" list="race" placeholder="race" type="text" value="{{data.race}}">
      </div>
      <div class="columnflex nowrap">
        <label>Origin</label>
        <input name="data.origin" list="origin" placeholder="origin" type="text" value="{{data.origin}}">
      </div>
      <div class="columnflex nowrap">
        <label>Class</label>
        <input name="data.class" list="rpgclass" placeholder="class" type="text" value="{{data.class}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w40" title="@{rank}">Level</label>
        <input name="data.rank" title="@{rank}" type="number" placeholder="1" class="w40" value="{{data.rank}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w40" title="Hit Dice">HD</label>
        <input name="data.hd" type="text" placeholder="d8" title="Hit Dice: @{hd}" class="w40" value="{{data.hd}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w30">MP</label>
        <input name="data.mp" type="number" placeholder="" title="Mission Points" class="w40" value="{{data.mp}}">
      </div>
      <div class="columnflex nowrap">
        <label class="w70">Tension Die: {{data.tensionDie}}</label>
      </div>
    </div>

  </section>


<!-- ATTRIBUTES SECTION -->
  <div class="attr columnflex nowrap spaced center">
    {{#each data.abilities as |attr a|}}
      <div class="stat columnflex nowrap center middle ability" data-attr="{{a}}" data-ability="{{a}}">
        <a type="roll" class="txt-btn large ability-name rollable" data-bonus="data.attributes.{{a}}.mod">{{a}}</a>
        <input data_type="ability_value" name="data.attributes.{{a}}.value" type="number" value="{{attr.value}}">
        <span class="mod">{{numberFormat attr.mod decimals=0 sign=true}}</span>
      </div>
    {{/each}}
  </div>

<!-- Skills (20)-->
  <section class="skills columnflex nowrap spaced">
    <h3>Skills</h3>	
            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each config.skills as |label s|}}
            {{#with (lookup ../data.skills s) as |skill|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number"/>
                    <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <div class="skill-name-controls">
                      <h4 class="skill-name rollable">{{label}}</h4>
                      <a class="config-button" data-action="skill" title="{{localize 'DND5E.SkillConfigure'}}"><i class="fas fa-cog"></i></a>
                    </div>
                    <span class="skill-ability">{{skill.ability}}</span>
                    <span class="skill-mod" title="{{ localize 'DND5E.SkillModifierHint' skill=label }}">{{numberFormat skill.total decimals=0 sign=true}}</span>
                    <span class="skill-passive" title="{{ localize 'DND5E.SkillPassiveHint' skill=label }}">({{skill.passive}})</span>
                </li>
            {{/with}}
            {{/each}}
            </ul>
  </section>

<!-- hp -->

  <section class="hp rowflex nowrap">
    <div class="section columnflex nowrap middle center">
      <label class="txtcenter" title="Hit Points">HP</label>
      <div class="rowflex nowrap">
        <input name="data.attributes.hp.value" type="number" value="{{data.attributes.hp.value}}" placeholder="20" class="stat w40" data-dtype="Number" value="{{data.attributes.hp.value}}">
        <span class="slash">/</span>
        <input name="data.attributes.hp.max" type="number" value="{{data.attributes.hp.max}}" placeholder="20" class="stat w40" data-dtype="Number" value="{{data.attributes.hp.max}}">
      </div>

    </div>
    <div class="section columnflex nowrap middle center determ">
      <label class="txtcenter" title="Temporary Hit Points">Temp HP</label>
      <div class="rowflex nowrap">
        <input name="data.attributes.hp.temp"  placeholder="0" type="text"  class="stat w40 temphp" data-dtype="Number" value="{{data.attributes.hp.temp}}">
        <span class="slash">/</span>
        <input name="data.attributes.hp.tempmax"  placeholder="0" type="text"  class="stat w40 temphp" data-dtype="Number" value="{{data.attributes.hp.tempmax}}">
      </div>
    </div>
  </section>


<!-- condition -->
{{!-- COMMENT CONDITIONS
  <section class="condition columnflex nowrap spaced">
    <h3 class="txtcenter" >CONDITION</h3>
    {{radioBoxes "data.condition" config.conditions checked=data.condition localize=false}}
  </section>
--}}

<!-- prof -->

  <div class="prof rowflex nowrap">
    <div class="section columnflex nowrap middle center">
      <label class="wide" title="Proficiency Bonus">Prof Bonus</label>
      <input name="data.prof" type="number" class="stat w40" value="{{data.prof}}">
    </div>
    <div class="section columnflex nowrap middle center init">
		 <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "DND5E.Initiative" }}</h4>
	<div class="attribute-value">
		<span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
	</div>
	<footer class="attribute-footer">
		<span>{{ localize "DND5E.Modifier" }}</span>
		<input name="data.attributes.init.value" type="text" data-dtype="Number" placeholder="0"
			   value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
	</footer>
					
      <!--<input name="data.initiative" type="number" class="stat w40" value="{{data.initiative}}">-->
    </div>
    <div class="section columnflex nowrap middle center moxie">
      <a type="roll_moxie" class="txt-btn">Moxie</a>
	  	<div class="attribute-value">
		<span>{{numberFormat data.attributes.moxie.total decimals=0 sign=true}}</span>
		</div>
    </div>
  </div>


<!-- ac -->

  <div class="ac rowflex nowrap">
    <div class="section columnflex nowrap middle center">
	                <li class="attribute armor">
                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.ArmorClass" }}
                        <a class="config-button" data-action="armor" title="{{localize 'DND5E.ArmorConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value attributable" data-property="attributes.ac">
                        <span>{{data.attributes.ac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span class="spell-dc">{{localize "DND5E.SpellDC"}} {{data.attributes.spelldc}}</span>
                    </footer>
                </li>
      <!--<label class="wide">Armor Class</label>
      <input name="data.ac" type="number" class="stat w70" value="{{data.ac}}">-->
    </div>
    <div class="section columnflex nowrap middle center">
      <label class="wide">{{data.resources.primary.label}}</label>
      <div class="rowflex nowrap">
        <input name="data.resources.primary.value" type="number" class="stat w40" value="{{data.resources.primary.value}}">
        <span class="slash">/</span>
        <input name="data.resources.primary.max" type="number" class="stat w40" value="{{data.resources.primary.value}}">
      </div>
    </div>
  </div>


<!-- speed -->

  <div class="speed rowflex nowrap">
    <div class="section columnflex nowrap middle center">
	                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'DND5E.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
<!--      <label class="bold txtcenter">Speed</label>
      <input name="data.speed" type="text" class="w70 stat" value="{{data.speed}}">-->
    </div>					
    <div class="section death columnflex nowrap middle center">
      <a type="roll_deathsave" class="txt-btn large">Death Save</a>
	  <label> not implemented </label>
<!--      <div class="rowflex nowrap">
        <input class="death-save-checkbox sucess" type="checkbox" {{checked death_success1}}>
        <input class="death-save-checkbox sucess" type="checkbox" {{checked death_success2}}>
        <input class="death-save-checkbox sucess" type="checkbox" {{checked death_success3}}>
        <span>Sucesses</span>
      </div>
      <div class="rowflex nowrap">
        <input type="checkbox" class="death-save-checkbox fail" {{checked death_failure1}}>
        <input type="checkbox" class="death-save-checkbox fail" {{checked death_failure2}}>
        <input type="checkbox" class="death-save-checkbox fail" {{checked death_failure3}}>
        <span>Failures</span>
      </div>-->
    </div>
  </div>


<!-- saves -->

  <section class="saves columnflex nowrap">
    <h3>Saves</h3>

    {{#each data.abilities as |ability id|}}
      <div class="rowflex nowrap" data-save="{{id}}">
	    <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.baseProf}}" data-dtype="Number"/>
		<a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND5E.Proficiency' }}">{{{ability.icon}}}</a>
		<a type="roll" class="txt-btn" data-bonus="data.saves.{{s}}.value">{{ability.label}}</a>
		<span class="ability-save" title="{{ localize 'DND5E.SavingThrow' }}">{{numberFormat ability.save decimals=0 sign=true}}</span>
        
      </div>
    {{/each}}

  </section>



<!-- bulk -->

  <section class="bulk columnflex nowrap middle center">
      <h3>Vest bulk capacity</h3>
	  {{!--  COMMENT OUT BULK 
      <input name="data.flags.SGP.bulk" type="number"  class="stat w40" value="{{dataflags.SGP.bulk}}" data-dtype="Number">
	  --}}
	  <label class="not-implemented">Not Implemented</label>
  </section>

<!-- mini notes -->

  <section class="inventory flexcol nowrap center">
    <h4 class="flex0">Notes</h4>
    <div class="flexrow flex1" style="width: 100%">
      <textarea name="data.flags.SGP.notes">{{data.flags.SGP.notes}}</textarea>
    </div>
  </section>

<!-- attacks -->

  <section class="attacks">
  {{!--  COMMENT OUT ATTACKS
    {{> "systems/sgrpg/templates/sheets/parts/actor-weapon-inventory.hbs"}}
    <div style="flex: 1"></div>
	--}}
  </section>

</main>


{{!--  COMMENT OUT SEPARATE PAGES


<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------- PAGE 2 ---------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
<main class="background tab-content tab2 page2 tab" data-tab="background">

  <section class="racial_abilities columnflex nowrap center">
    <label>Racial Abilities</label>
    {{editor content=data.abilities.racial target="data.abilities.racial" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="feats columnflex nowrap center">
    <label>Feats</label>
    {{editor content=data.abilities.feats target="data.abilities.feats" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="class columnflex nowrap center">
    <label>Class Abilities</label>
    {{editor content=data.abilities.class target="data.abilities.class" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="equipment columnflex nowrap center">
    <label>Equipment notes</label>
    {{editor content=data.abilities.equipment target="data.abilities.equipment" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="prof columnflex nowrap center">
    <label>Proficiencies</label>
    {{editor content=data.abilities.proficiencies target="data.abilities.proficiencies" button=true owner=owner editable=editable rollData=rollData}}
  </section>

  <section class="equipment columnflex nowrap center item-list">
    <label>Inventory</label>
    {{> "systems/sgrpg/templates/sheets/parts/actor-equip-inventory.hbs"}}
    <div class="flex1"></div>
  </section>


</main>

<!--  --------------------------------------------------------------------------------- -->
<!--  --------------------------- PAGE 3 ---------------------------------------------- -->
<!--  --------------------------------------------------------------------------------- -->
<main class="credits tab-content tab3 page3 tab" data-tab="credits">
  <section class="links columnflex nowrap center">
    <label>Credits</label>
    <p>Rules are made by <b>Wyvern Gaming</b> and can be purchased on official page. Links bellow.</p>
    <table>
      <tr>
        <td>Official page:</td><td><a href="https://stargatetherpg.com">https://stargatetherpg.com</a></td>
      </tr>
      <tr>
        <td>Rules:</td><td><a href="https://stargatetherpg.com/files/file/74-stargate-sg-1-roleplaying-game-core-rulebook/">link</a></td>
      </tr>
    </table>

    <p>System for foundry is implemented by @sadovsf and published with permision from <b>Wyvern Gaming</b>.</p>
    <table>
      <tr>
        <td>Foundry system:</td><td><a href="https://github.com/sadovsf/StargateRPGSystem">link</a></td>
      </tr>
      <tr>
        <td>Icons author (AurelTristen):</td><td><a href="https://www.patreon.com/HellScapeAssets">link</a></td>
      </tr>
    </table>
  </section>
  <section class="chlog columnflex nowrap center">
    <label>Changelog</label>
    <p>
      <ul>
        <li>
          <b>1.2.0-alpha</b>
          <ul>
            <li>Added credits section</li>
            <li>Initial public version</li>
          </ul>
        </li>
      </ul>
    </p>
  </section>
</main>


<!--

<main class="settings tab-content tab3 page3 tab" data-tab="settings">

  <section class="settings columnflex nowrap center">
    <label>Settings</label>

    <div class="rowflex nowrap">
      <span title="@{whisper}">Whisper rolls?</span>
      <input name="data.whisper" title="@{whisper}" type="checkbox"  value="{{data.whisper}}">
    </div>

    <div class="rowflex nowrap">
      <span title="@{show_name}">Show name in rolls?</span>
      <select name="data.show_name" title="@{show_name}">
        <option >Yes</option>
        <option >No</option>
      </select>
    </div>

    <div class="rowflex nowrap">
      <a name="roll_hd" type="roll" title="%{hd}" >Short Rest</a>
      <a name="roll_longrest" type="roll" title="%{longrest}" >Long Rest</a>
      <a name="roll_td" type="roll" title="%{td}" >Tension Dice</a>
    </div>
    <div class="rowflex nowrap">
      <label>Custom roll</label>
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom1" type="roll" value="@{whisper}@{custom1}"></a>
      <input type="text" name="data.custom1" >
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom2" type="roll" value="@{whisper}@{custom2}"></a>
      <input type="text" name="data.custom2" >
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom3" type="roll" value="@{whisper}@{custom3}"></a>
      <input type="text" name="data.custom3" >
    </div>
    <div class="rowflex nowrap">
      <a name="roll_custom4" type="roll" value="@{whisper}@{custom4}"></a>
      <input type="text" name="data.custom4" >
    </div>
  </section>

  <section class="other columnflex nowrap center">
    <label>Other stats</label>
    <div class="rowflex nowrap">
      <span>Eureka Points:</span>
      <input name="data.eureka" type="number" placeholder="" title="Eureka Points: @{eureka}"  class="w40" value="{{data.eureka}}">
      /
      <input name="data.eureka_max" type="number" placeholder="" title="Max Eureka Points: @{eureka|max}" class="w40" value="{{data.eureka_max}}">
    </div>
    <div class="columnflex nowrap">
      <span>Wounds/Ability Damage</span>
      <textarea name="data.ability_damage" class="dmg"></textarea>
    </div>
  </section>

  <section class="changelog columnflex nowrap center">

  </section>


  <div class="ammo">
    <div class="section columnflex nowrap">
      <label class=" other">NPC stuff</label>
      <div class="rowflex nowrap">
        <span>CR:</span>
        <input name="data.cr" type="number" placeholder="" title="Challenge Rating: @{cr}"  class="w40" value="{{data.cr}}">
        <span>Speed</span>
        <input name="data.speed_npc" type="text" style="width:200px" placeholder="1m Fly(6m)" title="@{speed_npc}"  class="w40" value="{{data.speed_npc}}">
      </div>
      <div class="rowflex nowrap">
        <span>Type:</span>
        <input name="data.type" type="text" style="width:350px" placeholder="Medium Humanoid(Scout 2)" title="Challenge Rating: @{type}"  class="w40" value="{{data.type}}">
      </div>
    </div>

    <div class="section columnflex nowrap">
      <label class=" other">Living Series</label>
      <div class="rowflex nowrap">
        <span>Stargaterpg.com username</span>
        <input name="data.living_series_user" type="text" placeholder=""  class="w40" style="width:100px" value="{{data.living_series_user}}">
        <span title="You can see your Roll20 id by going to your Roll20 profile page, and copying the numbers in the URL">Roll20 ID</span>
        <input name="data.roll20id" type="text" style="width:100px" title="You can see your Roll20 id by going to your Roll20 profile page, and copying the numbers in the URL"  class="w40" value="{{data.roll20id}}">
      </div>
      <div class="rowflex nowrap">
        <span>Stargaterpg.com character link</span>
        <input name="data.cahracter_link" type="text" style="width:350px" placeholder="The url to your character sheet"  class="w40" value="{{data.cahracter_link}}">
      </div>
    </div>

    <div class="ammo grid">
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 1</label>
        <input name="data.ammo1" type="number"  value="{{data.ammo1}}">
      </div>
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 2</label>
        <input name="data.ammo2" type="number"  value="{{data.ammo2}}">
      </div>
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 3</label>
        <input name="data.ammo3" type="number"  value="{{data.ammo3}}">
      </div>
      <div class="section columnflex nowrap middle center">
        <label>Ammo Weapon 4</label>
        <input name="data.ammo4" type="number"  value="{{data.ammo4}}">
      </div>
    </div>
  </div>

</main>
-->
--}}
</div>
</form>